<%- include ("../shares/header") %>


    <div class="container Pro">

        <div class="inforFile">
            <div class="testimonial">
                <figure class="inforFile-image">
                    <img class="imaProfile testimonial__img" id="photo" src='<%=image%>' alt="hyun">
                        <label class="testimonial__caption" for="file" id="label-upload">
                            Change photo
                        </label>
                        <input name="profileImage" type="file" class="upload-photo" id="file" accept="image/*"
                            onchange="uploadImage();">
                </figure>
            </div>

            <div class="inforFile-user-settings">

                <h1 class="inforFile-user-name"><%=fullname%></h1>

                <a href="/myProfile/editProfile" class="btn inforFile-edit-btn" id="btEdit">Edit Profile</a>

            </div>

            <!-- infor follow -->
            <div class="inforFile-stats">

                <ul>
                    <li><span class="inforFile-stat-count">164</span> posts</li>
                    <li><span class="inforFile-stat-count">188</span> followers</li>
                    <li><span class="inforFile-stat-count">206</span> following</li>
                </ul>

            </div>

            <!-- infor personal -->
            <div class="inforFile-bio">
                <p>
                    <span class="inforFile-real-name"><%=name%></span>
                    <br><%=bio%>
                </p>

            </div>
        </div>
        <!-- End of profile section -->
        <hr id="zop">
        <div class="feature">
            <a class="" href="#" tabindex="0">
                <svg aria-label="Posts" fill="#262626" height="12" viewBox="0 0 48 48" width="12">
                    <path clip-rule="evenodd"
                        d="M45 1.5H3c-.8 0-1.5.7-1.5 1.5v42c0 .8.7 1.5 1.5 1.5h42c.8 0 1.5-.7 1.5-1.5V3c0-.8-.7-1.5-1.5-1.5zm-40.5 3h11v11h-11v-11zm0 14h11v11h-11v-11zm11 25h-11v-11h11v11zm14 0h-11v-11h11v11zm0-14h-11v-11h11v11zm0-14h-11v-11h11v11zm14 28h-11v-11h11v11zm0-14h-11v-11h11v11zm0-14h-11v-11h11v11z"
                        fill-rule="evenodd"></path>
                </svg>
                <span class="">Posts</span>
            </a>
            <a class="" href="/myProfile/saved" tabindex="0">
                <svg aria-label="Saved" fill="#262626" height="12" viewBox="0 0 48 48" width="12">
                    <path
                        d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
                    </path>
                </svg>
                <span class="">Saved</span>
            </a>
        </div>
    </div>


    <div class="container gallery">
        <div class="gallery-content">
            <div class="gallery-img">
                <a href="/img/1.png">
                    <img src="/img/1.png" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li style="margin-left:-2rem" class="gallery-item-likes"><span
                                    class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="true"></i> 34
                            </li>
                            <li style="padding-left: 1em;" class="gallery-item-comments"><span
                                    class="visually-hidden">Comments:</span>
                                1 <i class="fas fa-comment" aria-hidden="true"></i> </li>
                        </ul>

                    </div>
                </a>

            </div>
            <div class="gallery-img">
                <a href="/img/5.png">
                    <img src="/img/5.png" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li style="margin-left:-2rem" class="gallery-item-likes"><span
                                    class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="true"></i> 34
                            </li>
                            <li style="padding-left: 1em;" class="gallery-item-comments"><span
                                    class="visually-hidden">Comments:</span>
                                1 <i class="fas fa-comment" aria-hidden="true"></i> </li>
                        </ul>

                    </div>
                </a>


            </div>
            <div class="gallery-img">
                <a href="/img/6.png">
                    <img src="/img/6.png" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li style="margin-left:-2rem" class="gallery-item-likes"><span
                                    class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="true"></i> 34
                            </li>
                            <li style="padding-left: 1em;" class="gallery-item-comments"><span
                                    class="visually-hidden">Comments:</span>
                                1 <i class="fas fa-comment" aria-hidden="true"></i> </li>
                        </ul>

                    </div>
                </a>


            </div>

        </div>


    </div>
    </div>



    <div class="loader"></div>
    


    <%- include ("../shares/footer") %>