<%- include ("./headerLogin") %>
<body>
    <div class="container">
        <div class="login-form">
            <p class="login-form__title" id="reset">Reset password</p>
            <p>Enter your password below and we'll confirm it.</p>
            <form action="/reset/<%= id %>"  method="POST" class="form1">
                <div class="form-group">
                    <input name="password" value="<%= password%>" id="password" type="password" align="center" placeholder="Password" >
                </div>
                <div class="form-group">
                    <input name="rePassword" value="<%= rePassword%>" type="password" align="center" placeholder="Confirm Password" >
                </div>
                <div class="form-group">
                    <% if(error.length > 0) {%>
                        <div class="alert alert-danger alert-dismissible ">
                            <button type="button" class="close" data-dismiss="alert"  aria-label="close">&times;</button>
                            <%= error %>  
                          </div>
                    <%}%>
                </div>
                <div class="form-group">
                    <button class="btn btn-reset" type="submit"  id="res">Reset password</button>
                </div>
                <div class="row" id="lineRow" >
                    <hr size="5" width="150" text-align="left" style="position: relative; top: -.35em;left: 1.5rem;"> 
                    <a href ="/login" style="color: #8E8E8E; font-weight: bold; text-decoration: none; cursor: pointer;">Back login</a>
                    <hr size="5" width="150" text-align="right" style="position: relative; top: -.35em;right: 1.5rem;">
                </div>
            </form>
          
        </div>
    </div>
</body>
