<%- include ("../shares/header") %>
    <!-- New feed -->
    <div class="container bodyNewfeed">`
        <div class="row">
            <div class=" col-lg-7 " id="idContain">
                <!-- Frame card post -->
                <div class="cardNew">
                    <form id="post-new-feed" enctype="multipart/form-data" onsubmit="return doPost(this);">

                        <div class="card nameCard" id="Newfeed">

                            <div class="container textChat">

                                <div class="comment">

                                    <div class="commenter">
                                        <img id="img-text" width="60" height="60" src="<%=image%>" alt="Card image cap"
                                            style="border-radius: 4% 4%;">
                                    </div>

                                    <div class="coverPost">

                                        <div class="comment-text-area" id="textPost">
                                            <textarea id="cmText" cols="60" rows="4" type="text" name="caption"
                                                placeholder="Add comment ..."></textarea>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="card-body">

                                <div class="imagePost">
                                    <div class="gallery-section">
                                        <div class="inner-width">
                                            <div class="gallery" id="gal">
                                                <!-- <div class="image">
                                                    <div class="cover-remove">
                                                        <span class="remove-image">&#x2715</span>
                                                    </div>
                                                    
                                                    <img class="post-img-preview" name="imagePost"  src="/img/1.png" alt="">
                                                </div> -->
                                                <!-- <div class="image">
                                                    <video id="post-video-preview" controls style="display: none;"></video>
                                                </div> -->
                                            </div>
                                            <div class="gallery" id="vid">
                                                <!-- <div class="image">
                                                    <div class="cover-remove">
                                                        <span class="remove-image">&#x2715</span>
                                                    </div>
                                                    
                                                    <img class="post-img-preview" name="imagePost"  src="/img/1.png" alt="">
                                                </div> -->
                                                <!-- <div class="image">
                                                    <video id="post-video-preview" controls style="display: none;"></video>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row iconCard " id="iconPost">


                                    <label class="fileContainer">
                                        <svg id="_x31_" enable-background="new 0 0 24 24" height="24"
                                            viewBox="0 0 24 24" width="24">
                                            <g>
                                                <path
                                                    d="m17.453 24c-.168 0-.34-.021-.51-.066l-15.463-4.141c-1.06-.292-1.692-1.39-1.414-2.45l1.951-7.272c.072-.267.346-.422.612-.354.267.071.425.346.354.612l-1.95 7.27c-.139.53.179 1.082.71 1.229l15.457 4.139c.531.14 1.079-.176 1.217-.704l.781-2.894c.072-.267.346-.426.613-.353.267.072.424.347.353.613l-.78 2.89c-.235.89-1.045 1.481-1.931 1.481z" />
                                            </g>
                                            <g>
                                                <path
                                                    d="m22 18h-16c-1.103 0-2-.897-2-2v-12c0-1.103.897-2 2-2h16c1.103 0 2 .897 2 2v12c0 1.103-.897 2-2 2zm-16-15c-.551 0-1 .449-1 1v12c0 .551.449 1 1 1h16c.551 0 1-.449 1-1v-12c0-.551-.449-1-1-1z" />
                                            </g>
                                            <g>
                                                <path
                                                    d="m9 9c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-3c-.551 0-1 .449-1 1s.449 1 1 1 1-.449 1-1-.449-1-1-1z" />
                                            </g>
                                            <g>
                                                <path
                                                    d="m4.57 16.93c-.128 0-.256-.049-.354-.146-.195-.195-.195-.512 0-.707l4.723-4.723c.566-.566 1.555-.566 2.121 0l1.406 1.406 3.892-4.67c.283-.339.699-.536 1.142-.54h.011c.438 0 .853.19 1.139.523l5.23 6.102c.18.209.156.525-.054.705-.209.18-.524.157-.705-.054l-5.23-6.102c-.097-.112-.231-.174-.38-.174-.104-.009-.287.063-.384.18l-4.243 5.091c-.09.108-.221.173-.362.179-.142.01-.277-.046-.376-.146l-1.793-1.793c-.189-.188-.518-.188-.707 0l-4.723 4.723c-.097.097-.225.146-.353.146z" />
                                            </g>
                                        </svg>
                                        <input type="file" name="image" accept="image/*" class=" upload-photo" id="file"
                                            multiple onchange="previewPostImage()">
                                    </label>



                                    <label class="fileVideo">
                                        <svg height="24" viewBox="0 -87 472 472" width="24">
                                            <path
                                                d="m467.101562 26.527344c-3.039062-1.800782-6.796874-1.871094-9.898437-.179688l-108.296875 59.132813v-35.480469c-.03125-27.601562-22.398438-49.96875-50-50h-248.90625c-27.601562.03125-49.96875 22.398438-50 50v197.421875c.03125 27.601563 22.398438 49.96875 50 50h248.90625c27.601562-.03125 49.96875-22.398437 50-50v-34.835937l108.300781 59.132812c3.097657 1.691406 6.859375 1.625 9.894531-.175781 3.039063-1.804688 4.898438-5.074219 4.898438-8.601563v-227.816406c0-3.53125-1.863281-6.796875-4.898438-8.597656zm-138.203124 220.898437c-.015626 16.5625-13.4375 29.980469-30 30h-248.898438c-16.5625-.019531-29.980469-13.4375-30-30v-197.425781c.019531-16.558594 13.4375-29.980469 30-30h248.90625c16.558594.019531 29.980469 13.441406 30 30zm123.101562-1.335937-103.09375-56.289063v-81.535156l103.09375-56.285156zm0 0" />
                                        </svg>
                                        <input type="file" name="video" accept="video/*" class="upload-photo"
                                            id="fileVideo" multiple onchange="previewPostVideo()">
                                    </label>

                                    <button class="btn  btnComment btnOpacity post-opa" id="ptNew"
                                        type="submit">Post</button>

                                </div>

                            </div>

                        </div>

                    </form>
                </div>

                <!-- Card each user -->
                <div class="cardNew" id="cardShow">
                    <!-- <div class="card nameCard" id="Newfeed">  
                            <div class="row nameInfor">
                                <img class="iconUser" src="/img/2.png" width="45" height="45" alt="Card image cap"
                                    style="border-radius: 50% 50%;">
                                <span class="card-title "><a href="#" class="nameOf">adad</a></span>
                                <i class="fas fa-ellipsis-h action-icon" class="threeDot"></i>
                            </div>

                            <img class="card-img-top" src="/img/1.png" alt="Card image cap" style="border-radius: 0%; ">
                            <div class="viewport" id="scrollBar">
                                <div class="cover-next-prev">
                   
                                <i class="fas fa-chevron-circle-right next" id="next" onclick="slideImage()">
                                </i>
                                <i class="fas fa-chevron-circle-left prev"  id="prev" onclick="slideImage()">
                                </i>
                               
                               </div>
                   
                                <div class="cover-list-image" id="co">
                                <div class="list-image-newfeed" id="list-image-newfeed">
                                <ul id="scroll-image-newfeed">
                       
                                    <li class="item-image" id="1">
                                   <img class="card-img-top" src="/img/1.png" alt="Card image cap" style="border-radius: 0%;" > 
                                    </li>
                                    <li class="item-image" id="1">
                                        <img class="card-img-top" src="/img/2.png" alt="Card image cap" style="border-radius: 0%;" > 
                                         </li>
                                         <li class="item-image" id="1">
                                            <img class="card-img-top" src="/img/3.png" alt="Card image cap" style="border-radius: 0%;" > 
                                             </li>
                   
                              
                                </ul>
                                </div>
                                </div>
                   
                               </div>
                            <div class="card-body">
                                <p class="card-text caption-text0"></p>
                                <div class="row iconCard">
                                    <button class="btnHeart">
                                        <svg aria-label="Like" fill="#262626" height="25" viewBox="0 0 48 48" width="25">
                                            <path class="iconHeart"
                                                d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                            </path>
                                        </svg>
                                    </button>
                                    <button>
                                        <svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24"
                                            viewBox="0 0 48 48" width="24">
                                            <path clip-rule="evenodd"
                                                d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                                                fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                    <button>
                                        <svg aria-label="Share Post" class="_8-yf5 " fill="#262626" height="24"
                                            viewBox="0 0 48 48" width="24">
                                            <path
                                                d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                                            </path>
                                        </svg>
                                    </button>
                                    <button class="savePost">
                                        <svg aria-label="Save" fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                                            <path class="savePo"
                                                d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>

                                <p style="font-size: 15px; font-weight: 500; padding-left: 15px;" class="likePost"></p>
                                <p class="card-text caption-text1"></p>
                                <hr width="100%" style="margin-bottom: 0rem">

                                <div class="container textChat">
                                    <div class="comment">
                                        <div class="commenter">
                                            <img class="iconComment" width="40" height="40" src="/img/kim.png"
                                                alt="Card image cap" style="border-radius: 50% 50%;">
                                        </div>
                                        <div class="comment-text-area">
                                            <textarea class="textinput  textComment "
                                                placeholder="Add comment ..."></textarea>
                                            <button class="btn  btnComment btnOpacity" type="submit">Post</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                    </div>   -->

                </div>

                <!-- List card horizontal scroll -->
                <div class="viewport" id="scrollBar" data-id="<%=idCurrent%>" data-len="<%=data.length-1%>">
                    <!-- <p class="sugCard">Suggestions For You</p>
                    <a href="homePage/listFollow" class="seeCard">See All</a>
                    <i class="fas fa-chevron-circle-right next" id="next-<%=idCurrent%>" onclick="slide('right','<%=data.length%>','<%=idCurrent%>')"></i>
                    <i class="fas fa-chevron-circle-left prev" id="prev-<%=idCurrent%>" onclick="slide('left','<%=data.length%>','<%=idCurrent%>')"></i>
                    <div class="coverList" id="co">
                        <div class="list" id="list-<%=idCurrent%>">
                            <ul id="scroll" data-id="<%=idCurrent%>">
                                <% data.forEach(function(user) {%>
                                    <% if(user._id !=idCurrent) {%>
                                        <li class="item" id="1">
                                            <div class="cardSug">
                                                <span class="close">&times;</span>
                                                <img class="imgCardSug" width="65" height="65"
                                                    src="<%=user.profileImage%>" alt="Card image cap"
                                                    style="border-radius: 50% 50%;">
                                                <div class="nameBelow">
                                                    <% if(user.name){%>
                                                        <form action="/userProfile/<%=user._id%>" method="GET">
                                                            <a class="nameLink"><button type="submit">
                                                                    <%=user.name%>
                                                                </button></a>
                                                        </form>
                                                        <%}else{%>
                                                            <form action="/userProfile/<%=user._id%>" method="GET">
                                                                <a class="nameLink"><button type="submit">
                                                                        <%=user.fullname%>
                                                                    </button> </a>
                                                            </form>
                                                            <%}%>
                                                        <p class="sug">Suggested for you</p>
                                                </div>

                                                <% if(curUser.followings !="" || curUser.followings.length > 0){%>               
                                                    <% curUser.followings.forEach(function(cur,index) {%>         
                                                        <% if(curUser.followings[index]){%>
                                                            <% if(curUser.followings[index].idFollowing==user._id){%>
                                                                <button class="btn btnFollowed btn-<%=user._id%>"  onclick="btnFollow('this','<%=user._id%>','wordImg','')">
                                                                    <a  class="centerFollow clas-<%=user._id%>">Unfollow</a>
                                                                </button>
                                                            <%}else{%>
                                                                <button class="btn btnFollow btn-<%=user._id%>"  onclick="btnFollow('this','<%=user._id%>','wordImg')">
                                                                    <a class="centerFollow clas-<%=user._id%>">Follow</a>
                                                                </button>
                                                            <%}%>
                                                        <%}%>
                                                    <%})%>
                                                <%}else{%>
                                                    <button class="btn btnFollow btn-<%=user._id%>"  onclick="btnFollow('this','<%=user._id%>','wordImg')">
                                                        <a href=""  class="centerFollow clas-<%=user._id%>">Follow</a>
                                                    </button>
                                                <%}%>
                                            </div>
                                        </li>
                                    <%}%>
                                <%})%>
                            </ul>
                        </div>
                    </div> -->
                </div>

            </div>

            <!-- Right bar -->
            <div class="col-lg-5 ">
                <div class="rightCard" id="rightCard">
                    <!-- <div class="row rightInfor">
                        <img class="imgUser" width="70" height="70" src="<%=image%>" alt="Card image cap"
                            style="border-radius: 50% 50%;">
                        <span class="card-title "><a href="#" class="nameImg">
                                <%=fullname%>
                            </a></span>
                        <small id="midName">
                            <%=name%>
                        </small>
                        <a href="/myProfile" class="wordImg" style="margin-top:1rem;text-decoration: none;">Profile</a>
                    </div>

              
                    <div class="row rightInfor">
                        <p style="margin:7px 0 0 10px; font-size: 15px; font-weight: 500; color: #8E8E8E;">Suggestions
                            For You</p>
                        <a id="seeAll" href="/homePage/listFollow">See all</a>
                    </div>

            
                    <% data.forEach(function(user) {%>
                        <% if(user._id !=idCurrent) {%>
                            <div class="row belowSuggest">
                                <img class="imgUserOther" width="50" height="50" src="<%= user.profileImage%>" alt="Card image cap"
                                    style="border-radius: 50% 50%;">
                                <% if(user.name){%>
                                    <span class="card-title ">
                                        <form action="/userProfile/<%=user._id%>" method="GET">
                                            <a  class="nameOfUser">
                                            <button type="submit" style="border: none;background: none;font-weight: 600;">
                                                <%=user.name%>
                                            </button>
                                            </a>
                                        </form>
                                    </span>
                                <%}else{%>
                                    <span class="card-title ">
                                        <form action="/userProfile/<%=user._id%>" method="GET">
                                            <a class="nameOfUser">
                                                <button type="submit" style="border: none;background: none;font-weight: 600;">
                                                    <%=user.fullname%>
                                                </button>
                                             </a>
                                        </form>
                                    </span>
                                <%}%>  
                                <small class="midNameUser">Suggested for you</small>
                                <% if(curUser.followings !="" || curUser.followings.length > 0){%>               
                                    <% curUser.followings.forEach(function(cur,index) {%>         
                                        <% if(curUser.followings[index]){%>
                                            <% if(curUser.followings[index].idFollowing==user._id){%>
                                                    <a class="wordImg" id="right-<%=user._id%>" onclick="btnFollow('this','<%=user._id%>','wordImg')">Unfollow</a> 
                                            <%}else{%>
                                                    <a  class="wordImg" id="right-<%=user._id%>" onclick="btnFollow('this','<%=user._id%>','wordImg')">Follow</a>
                                            <%}%>
                                        <%}%>
                                    <%})%>
                                <%}else{%>
                                    <a  class="wordImg" id="right-<%=user._id%>" onclick="btnFollow('this','<%=user._id%>','wordImg')">Follow</a>
                                <%}%>
                         
                            </div>
                        <%}%>
                    <%})%>

             
                    <div class="optionBelow">
                        <ul class="listHelp">
                            <li><a href="">About</a></li>
                            <li><a href="">Help</a></li>
                            <li><a href="">Press</a></li>
                            <li><a href="">Api</a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Privacy</a></li>
                            <li><a href="">Terms</a></li>
                            <br>
                            <li><a href="">Locations</a></li>
                            <li> <a href="">Top Accounts</a></li>
                            <li><a href="">Hashtags</a></li>
                            <li> <a href="">Language</a></li>
                        </ul>
                        <p style="margin-left:2rem; color:#C7C7C7">© 2021 INSTAGRAM FROM FACEBOOK</p>
                    </div>  -->
                
                </div>


            </div>

        </div>

    </div>
    <script src="/js/deleteCard.js"></script>
    <script>
        // show new feed 
        $(document).ready(function () {
            showNewsfeed();
            loadFollow();
        })
        function showNewsfeed() {
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/getNewsfeed", true);

            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var html = ""

                    for (var a = 0; a < response.data.length; a++) {
                        var data = response.data[a];
                        var user = response.user
                        var id = response.id
                        html += '<div class="card nameCard" id="Newfeed-' + data._id + '">';

                        html += '<div class="row nameInfor">';

                        html += ' <img class="iconUser" src=" ' + data.user.profileImage + ' " width="45" height="45" alt="Card image cap" style="border-radius: 50% 50%; ">';

                        html += ' <span class="card-title ">';
                        html += '<a href="' + '/user/' + data.user.fullname + '" class="nameOf">';
                        html += data.user.fullname;
                        html += '</a>';
                        html += '</span>';
                        
                        if(data.user._id.toString() == id.toString()){
                            html += '<i class="fas fa-ellipsis-h action-icon" id="mod-' + data._id + '" data-id="' + data._id + '" class="threeDot" onclick="modelCard(this)">';
                            html += '</i>';
                        }
                       

                        html += '</div>';

                        if (data.image.length !== 0 && data.video.length !== 0) {

                            var sumLength = data.video.length + data.image.length

                            html += '<div class="viewport" id="scrollBar-' + data._id + '">'
                            html += ' <div class="cover-next-prev">'

                            html += ' <i class="fas fa-chevron-circle-right next-img" id="next-img-' + data._id + '" onclick="slideImage(' + "'" + "right" + "'" + "," + "'" + sumLength + "'" + "," + "'" + data._id + "'" + ')" >'
                            html += ' </i>'
                            html += ' <i class="fas fa-chevron-circle-left prev-img"  id="prev-img-' + data._id + '" onclick="slideImage(' + "'" + "left" + "'" + "," + "'" + sumLength + "'" + "," + "'" + data._id + "'" + ')">'
                            html += ' </i>'

                            html += '</div>'

                            html += ' <div class="cover-list-image" id="co">'
                            html += ' <div class="list-image-newfeed" id="list-image-newfeed-' + data._id + '">'

                            html += ' <ul id="scroll-image-newfeed">'
                            for (var j = 0; j < data.image.length; j++) {
                                html += ' <li class="item-image" id="1">'
                                html += '<img class="card-img-top" src="/demo/' + data.image[j].originalname + ' " alt="Card image cap" style="border-radius: 0%;" >';
                                html += ' </li>'
                            }
                            for (var j = 0; j < data.video.length; j++) {
                                html += ' <li class="item-image" id="1">'
                                html += ' <iframe width="590" height="586" src="/demo/' + data.video[j].originalname + ' " frameborder="0" allowfullscreen>'
                                html += '</iframe>'
                                html += ' </li>'
                            }


                            html += ' </ul>'

                            html += ' </div>'
                            html += ' </div>'

                            html += '</div>'

                        }

                        if (data.image.length !== 0 && data.video.length == 0) {


                            html += '<div class="viewport" id="scrollBar-' + data._id + '">'
                            html += ' <div class="cover-next-prev">'

                            if (data.image.length > 1) {
                                html += ' <i class="fas fa-chevron-circle-right next-img" id="next-img-' + data._id + '" onclick="slideImage(' + "'" + "right" + "'" + "," + "'" + data.image.length + "'" + "," + "'" + data._id + "'" + ')" >'
                                html += ' </i>'
                                html += ' <i class="fas fa-chevron-circle-left prev-img"  id="prev-img-' + data._id + '" onclick="slideImage(' + "'" + "left" + "'" + "," + "'" + data.image.length + "'" + "," + "'" + data._id + "'" + ')">'
                                html += ' </i>'
                            }


                            html += '</div>'

                            html += ' <div class="cover-list-image" id="co">'
                            html += ' <div class="list-image-newfeed" id="list-image-newfeed-' + data._id + '">'

                            html += ' <ul id="scroll-image-newfeed">'

                            for (var j = 0; j < data.image.length; j++) {
                                html += ' <li class="item-image" id="1">'
                                html += '<img class="card-img-top" src="/demo/' + data.image[j].originalname + ' " alt="Card image cap" style="border-radius: 0%;" >';
                                html += ' </li>'
                            }
                            html += ' </ul>'

                            html += ' </div>'
                            html += ' </div>'

                            html += '</div>'

                        }

                        if (data.image.length == 0 && data.video.length !== 0) {


                            html += '<div class="viewport" id="scrollBar-' + data._id + '">'
                            html += ' <div class="cover-next-prev">'
                            if (data.video.length > 1) {
                                html += ' <i class="fas fa-chevron-circle-right next-img" id="next-img-' + data._id + '" onclick="slideImage(' + "'" + "right" + "'" + "," + "'" + data.video.length + "'" + "," + "'" + data._id + "'" + ')" >'
                                html += ' </i>'
                                html += ' <i class="fas fa-chevron-circle-left prev-img"  id="prev-img-' + data._id + '" onclick="slideImage(' + "'" + "left" + "'" + "," + "'" + data.video.length + "'" + "," + "'" + data._id + "'" + ')">'
                                html += ' </i>'
                            }


                            html += '</div>'

                            html += ' <div class="cover-list-image" id="co">'
                            html += ' <div class="list-image-newfeed" id="list-image-newfeed-' + data._id + '">'

                            html += ' <ul id="scroll-image-newfeed">'

                            for (var j = 0; j < data.video.length; j++) {
                                html += ' <li class="item-image" id="1">'
                                html += '   <iframe width="590" height="586" src="/demo/' + data.video[j].originalname + ' " frameborder="0" allowfullscreen sandbox>'
                                html += '</iframe>'
                                html += ' </li>'
                            }
                            html += ' </ul>'

                            html += ' </div>'
                            html += ' </div>'

                            html += '</div>'

                        }

                        html += '<div class="card-body">';
                        if (data.caption != "" && data.image == "" && data.video =="") {
                            html += '<p class="card-text caption-text0">';
                            html += data.caption;
                            html += '</p>';
                        }

                        var isLiked = false;
                        var check = false;
                        for (var b = 0; b < data.likers.length; b++) {
                            var liker = data.likers[b];
                            if (liker._id == id) {                      // id user so sanh voi liker
                                isLiked = true;
                                break;
                            }
                        }
                        html += '<div class="row iconCard">';

                        html += '<button class="btnHeart ani" data-id="' + data._id + '" onclick="toggleLike(this,' + a + ');" >';
                        html += '<svg  aria-label="Like" fill="#262626" height="25" viewBox="0 0 48 48" width="25">';
                            if (isLiked) {
                                html += '<path id="heart-' + a + '" fill="#ed4956"  d="M 34.6 3.1 c -4.5 0 -7.9 1.8 -10.6 5.6 c -2.7 -3.7 -6.1 -5.5 -10.6 -5.5 C 6 3.1 0 9.6 0 17.6 c 0 7.3 5.4 12 10.6 16.5 c 0.6 0.5 1.3 1.1 1.9 1.7 l 2.3 2 c 4.4 3.9 6.6 5.9 7.6 6.5 c 0.5 0.3 1.1 0.5 1.6 0.5 s 1.1 -0.2 1.6 -0.5 c 1 -0.6 2.8 -2.2 7.8 -6.8 l 2 -1.8 c 0.7 -0.6 1.3 -1.2 2 -1.7 C 42.7 29.6 48 25 48 17.6 c 0 -8 -6 -14.5 -13.4 -14.5 Z">';
                                html += '</path>';

                            }
                            else {
                                html += '<path id="heart-' + a + '" fill="#262626"  d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">';
                                html += '</path>';

                            }
                        html += '</svg>';
                        html += '</button>';

                        html += '<button data-id="'+data._id+'" onclick="modalComment(this,'+"'"+data._id+"'"+","+"'"+data.likers.length+"'"+')" >'
                        html += ' <svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">';
                        html += '<path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd">';
                        html += '</path>';
                        html += '</svg>';
                        html += '</button>';

                        html += '<button >';
                        html += '  <svg aria-label="Share Post" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">';
                        html += '<path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">';
                        html += '</path>';
                        html += '</svg>';
                        html += '</button>';

                        html += '<button class="savePost">';
                        html += '  <svg aria-label="Save" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">';
                        html += '<path class="savePo" d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z">';
                        html += '</path>';
                        html += '</svg>';
                        html += '</button>';

                        html += '</div>';

                        html += '<div class="view-like" style="margin-left:0.75rem">'
                        html += '<small id="like-' + data._id + '" data-id="' + data.likers.length + '" style="font-weight:600">'

                        if (data.likers.length == "" || data.likers.length == 0) {
                            html += '0 like</small>'
                        } else if (data.likers.length == 1) {
                            html += data.likers.length
                            html += ' like</small>'
                        }
                        else {
                            html += data.likers.length
                            html += ' likes</small>'
                        }
                        html += '</div>'

                        html += '<p style="font-size: 15px; font-weight: 500; padding-left: 15px;" class="likePost">';
                        if (data.caption != "" && data.image != "" || data.video != "") {
                            var cap = ""
                            for(var j = 0; j < 1; j ++){
                                cap +=" "+ data.caption.split(" ")[j] 
                            }
                            html += ' <p class="card-text caption-text1" >';
                            html += data.user.fullname;
                                html += '<span class="cap">'
                                    html +=  cap + '...'
                                html += '</span>'
                                html += '<span class="complete">'
                                    html += data.caption
                                html += ' </span>'
                                html += '<span class="more" onclick="toggleComment(this)">more'
                                html += '</span>'
                               
                            html += '</p>';
                        }
                        html += '</p>';


                        html += '<p class="view-comment" data-id="'+data._id+'" onclick="modalComment(this,'+"'"+data._id+"'"+","+"'"+data.likers.length+"'"+')">'
                            html += 'View all'
                            var leng_reply = 0;
                            for(var j = 0; j< data.comments.length;j++){
                                var lengComment = data.comments[j]
                                if(lengComment.replies){
                                    leng_reply += lengComment.replies.length
                                }
                            }
                            if(leng_reply>0){
                                leng_reply+=data.comments.length
                            }else{
                                leng_reply=data.comments.length
                            }
                            if(leng_reply == 0 || leng_reply == 1){
                                html +=' '+ leng_reply + ' comment' 
                            }else{
                                html +=' '+ leng_reply + ' comments' 
                            }
                        html += '</p>'
                        html += '<div >'
                            for (var c = 0; c < data.comments.length; c++) {
                                var commenter = data.comments[c];               
                                html += '<div class="comment-post" id="comment-display">'
                                    html += '<a style="font-weight:600">'
                                        html += '' +  commenter.fullname
                                    html += '</a>'
                                    html += '<p style="padding-left:5px">'
                                        html += ''+ commenter.content_comment
                                    html += '</p>'
                                html+= '</div>'
                            }
                        html+= '</div>'

                        html += '<hr width="100%" style="margin-bottom: 0rem">';

                        html += ' <div class="container textChat">';
                            html += '<div class="comment">';
                                html += ' <div class="commenter">';
                                    html += '<img src=" ' + user.profileImage + ' " class="iconComment" width="40" height="40"  alt="Card image cap" style="border-radius: 50% 50%;">';
                                html += '</div>';

                                html += '<form id="post-comment-new" onsubmit="return doPostComment(this)">'
                                    html += '<div class="comment-text-area">';
                                        html += '<input type="hidden" name="_id" value="'+data._id+'">'
                                        html += '<textarea class="textinput  textComment" id="com-'+data._id+'" name="commentPost" placeholder="Add comment ...">'
                                        html += '</textarea>';
                                        html += '<button class="btn  btnComment btnOpacity btn-opa" type="submit">Post';
                                        html += '</button>';
                                    html += '</div>';
                                html += '</form>'

                            html += '</div>';
                        html += '</div>';

                        html += '</div>';

                        html += '</div>';  

                        html += '<div id="myModal" class="modal">'
                            html += '<div class="modal-content" id="modCon">'
                                html += '<ul class="list-group listDot">'
                                    html += '<li style="color:red; font-weight:500">Edit'
                                    html += '</li>'
                                    html += '<hr class="hrList">'
                                    html += '<li onclick="deletePost('+"'"+data._id+"'"+')">Delete'
                                    html += '</li>'
                                    html += '<hr class="hrList">'
                                    html += '<li class="cancelList">Cancel'
                                    html += '</li>'
                            html += '</ul>'
                       html += '</div>'

                       html += '</div>'
                    }
                    document.getElementById("cardShow").innerHTML = html;
               
                    inputPost();
                    inputComment();
                    toggleLike();
                    dropSave();
                    modelCard();
                    slideImage();
                    slideImageModal();
                }
            };
            var formData = new FormData();
            ajax.send(formData);

        }

        function loadFollow(){
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/getFollow", true);

            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    if(response.status == "scroll"){
                        var html = ""
                    var data = response.data
                    var length_user = data.length - 1
 
                    var idCurrent = response.idCurrent
                    html+='<p class="sugCard">Suggestions For You'
                    html+='</p>'
                    html+='<a href="homePage/listFollow" class="seeCard">See All'
                    html+='</a>'
                    html+='<i class="fas fa-chevron-circle-right next" id="next-'+idCurrent+'" onclick="slide('+"'"+"right"+"'"+","+"'"+length_user+"'"+","+"'"+idCurrent+"'"+')">'
                    html+='</i>'
                    html+='<i class="fas fa-chevron-circle-left prev" id="prev-'+idCurrent+'" onclick="slide('+"'"+"left"+"'"+","+"'"+length_user+"'"+","+"'"+idCurrent+"'"+')">'
                    html+='</i>'

                    html+='<div class="coverList" id="co">'
                        html+='<div class="list" id="list-'+idCurrent+'">'
                            html+='<ul id="scroll" data-id="'+idCurrent+'">'
                                for(var i =0; i < data.length;i++){
                                    if(data[i]._id !=idCurrent){
                                        html+=' <li class="item" id="1">'
                                            html+='<div class="cardSug">'
                                                html+='<span class="close">&times;'
                                                html+='</span>'
                                                html+='<img class="imgCardSug" width="65" height="65" src="'+data[i].profileImage+'" alt="Card image cap" style="border-radius: 50% 50%;">'
                                                    html+='<div class="nameBelow">'
                                                        if(data[i].name){
                                                            html+='<form action="/userProfile/'+data[i]._id+'>" method="GET">'
                                                                html+='<a class="nameLink">'
                                                                    html+='<button type="submit">'
                                                                        html += data[i].name    
                                                                    html+='</button>'
                                                                html+='</a>'
                                                            html+='</form> '
                                                        }else{
                                                            html+='<form action="/userProfile/'+data[i]._id+'>" method="GET">'
                                                                html+='<a class="nameLink">'
                                                                    html+='<button type="submit">'
                                                                        html += data[i].fullname    
                                                                    html+='</button>'
                                                                html+='</a>'
                                                            html+='</form> '
                                                        }
                                                        html+='<p class="sug">Suggested for you'
                                                        html+='</p>'
                                                    html+='</div>'
                                                    
                                                    if(data[i].followers.length > 0){
                                                        for(var j = 0 ; j< data[i].followers.length ; j++){
                                                            if(data[i].followers[j].idFollower.toString() == idCurrent.toString()){
                                                                html+='<button class="btn btnFollowed btn-'+data[i]._id+'" onclick="btnFollow(this,'+"'" +data[i]._id+"'"+","+"'"+"wordImg"+"'"+')">'
                                                                        html+='<a class="centerFollow clas-'+data[i]._id+'">Unfollow'
                                                                        html+='</a>'
                                                                html+='</button>'
                                                            }
                                                        }
                                                    }else{
                                                        html+=' <button class="btn btnFollow btn-'+data[i]._id+'"  onclick="btnFollow(this,'+"'" +data[i]._id+"'"+","+"'"+"wordImg"+"'"+')">'
                                                            html+='<a href=""  class="centerFollow clas-'+data[i]._id+'">Follow'
                                                            html+='</a>'
                                                        html+='</button>'  
                                                    }
                                            html+='</div>'
                                        html+='</li>'
                                    }
                                }
                            html+='</ul>'
                        html+='</div>'
                    html+='</div>'

                    $("#scrollBar").html(html)
                    }
                    if(response.right == "right"){
                        var html = ""
                        var curUser = response.curUser
                        html+='<div class="row rightInfor">'
                            html+='<img class="imgUser" width="70" height="70" src="<%=image%>" alt="Card image cap" style="border-radius: 50% 50%;">'
                            html+='<span class="card-title ">'
                                html+='<a href="#" class="nameImg">'
                                    html+= curUser.fullname
                                html+='</a>'
                            html+='</span>'
                            html+='<small id="midName">'
                                html+=curUser.name
                            html+='</small>'
                            html+='<a href="/myProfile" class="wordImg" style="margin-top:1rem;text-decoration: none;">Profile'
                            html+='</a>'
                        html+='</div>'


                        html+='<div class="row rightInfor">'
                            html+='<p style="margin:7px 0 0 10px; font-size: 15px; font-weight: 500; color: #8E8E8E;">Suggestions For You'
                            html+='</p>'
                            html+='<a id="seeAll" href="/homePage/listFollow">See all'
                            html+='</a>'
                        html+='</div>'


                        for(var i =0; i < data.length;i++){
                            if(data[i]._id !=idCurrent){
                                html+='<div class="row belowSuggest">'
                                    html+='<img class="imgUserOther" width="50" height="50" src="'+data[i].profileImage+'" alt="Card image cap" style="border-radius: 50% 50%;">'
                                    html+='<span class="card-title ">'
                                        if(data[i].name){
                                            html+='<form action="/userProfile/'+data[i]._id+'" method="GET">'
                                                html+='<a  class="nameOfUser">'
                                                    html+='<button type="submit" style="border: none;background: none;font-weight: 600;">'
                                                           html += data[i].name 
                                                    html+='</button>'
                                                html+='</a>'
                                            html+='</form>'
                                        }else{
                                            html+='<form action="/userProfile/'+data[i]._id+'" method="GET">'
                                                html+='<a  class="nameOfUser">'
                                                    html+='<button type="submit" style="border: none;background: none;font-weight: 600;">'
                                                        html += data[i].fullname  
                                                    html+='</button>'
                                                html+='</a>'
                                            html+='</form>'
                                        }
                                    html+='</span>'
                                    html+='<small class="midNameUser">Suggested for you'
                                    html+='</small>'
                                    
                                    if(data[i].followers.length > 0){
                                        for(var j = 0 ; j< data[i].followers.length ; j++){
                                            if(data[i].followers[j].idFollower.toString() == idCurrent.toString()){
                                                html+=' <a class="wordImg" id="right-'+data[i]._id+'" onclick="btnFollow(this,'+"'" +data[i]._id+"'"+","+"'"+"wordImg"+"'"+')">Unfollow'
                                                html+='</a>'
                                            }
                                        }
                                    }else{
                                        html+=' <a  class="wordImg" id="right-'+data[i]._id+'" onclick="btnFollow(this,'+"'" +data[i]._id+"'"+","+"'"+"wordImg"+"'"+')">Follow'
                                        html+='</a>'
                                    }
                                html+='</div>'
                            }
                        }



                    html+='<div class="optionBelow">'
                        html+='<ul class="listHelp">'
                            html+=' <li>'
                                html+='<a href="">About'
                                html+='</a>'
                            html+='</li>'
                            html+=' <li>'
                                html+='<a href="">Help'
                                html+='</a>'
                            html+='</li>'
                            html+=' <li>'
                                html+=' <a href="">Press'
                                html+='</a>'
                            html+='</li>'
                            html+=' <li>'
                                html+=' <a href="">Api'
                                html+='  </a>'
                            html+=' </li>'
                            html+=' <li>'
                                html+='<a href="">Jobs'
                                html+='</a>'
                            html+='</li>'
                            html+='<li>'
                                html+='<a href="">Privacy'
                                html+='</a>'
                            html+='</li>'
                            html+='<li>'
                                html+='<a href="">Terms'
                                html+='</a>'
                            html+='</li>'
                            html+='<br>'
                            html+='<li>'
                                html+='<a href="">Locations'
                                html+='</a>'
                            html+='</li>'
                            html+=' <li> '
                                html+='<a href="">Top Accounts'
                                html+='</a>'
                            html+='</li>'
                            html+=' <li>'
                                html+='<a href="">Hashtags'
                                html+='</a>'
                            html+='</li>'
                            html+=' <li> '
                                html+='<a href="">Language'
                                html+=' </a>'
                            html+='</li>'
                        html+=' </ul>'
                    html+=' <p style="margin-left:2rem; color:#C7C7C7">© 2021 INSTAGRAM FROM FACEBOOK'
                    html+='</p>'
                    html+='</div> '
                    $("#rightCard").html(html)
                    }
                   
                    var len = $('#scrollBar').attr("data-len")
                    var id= $('#scrollBar').attr("data-id")
                    if(len<=3){
                        $('#next-' + id).css("opacity", "0")
                    }
                }
            }
            ajax.send();
        }
    
  
    </script>


    <%- include ("../shares/footer") %>