<%- include ("../shares/header") %>

    <!-- List user not follow -->


        <main>
          <div class="preview">
              <div id="user-name">
                <%if(name){%>
                    <%=name%>
                <i class='fas fa-angle-down'></i>
                <%}else{%>
                    <%=fullname%>
                <%}%>
              </div>
         
              <%if(following.length > 0){%>
                  <% following.forEach(function(following) {%>
                    <div class="user-following">
                      <span class="pic-div">
                        <img id="pic" src="<%=following.profileImage%>">
                      </span>
                      <div class="chat-username">
                        <a href="#" class="name" onclick="directPerson(this, '<%=following._id%>','<%=following.idFollowing%>' ,'<%=following.profileImage%>','<%=following.fullname%>')"> 
                          <span >
                            <%=following.fullname%>
                          </span>
                        </a>
                        <span class="msg">Following</span>
                      </div>
                  </div>
                  <%})%>
              <%}%>
        
        
          </div>

            <div class="chats">
              
                <div class="sticky-top chat-banner">
                    <div>
                      <span class="chat-pic"> 
                        <img class="pic" id="pic" src="<%=image%>"  style="margin-bottom: 0.5rem;" />
                      </span>
                      <a href="#"  style="margin-left:5px;cursor: pointer; text-decoration: none; color: #333;">
                        <span id="name-selected">
                          <%if(name){%>
                            <%=name%>
                          <%}else{%>
                              <%=fullname%>
                          <%}%>
                          </span>
                        </a>
                    </div>
                </div>
                <div class="frame-chat">
                
                      <!-- <div class="sender"></div>
                      <div class="heart">❤️</div>

                      <div class="receiver"></div> -->

                </div>
            
            
            
              <div class="user-input " ></div>
         
              <div class="inputFlex ">
               
                <div class="input-msg">
                  <form id="post-message" onsubmit="return sendMessageFriends(this)">
                      <button class="btnSmile" type="button" >
                        <div class="btnCover" >
                          <svg aria-label="Emoji" class="faSmile" fill="#262626" height="25" viewBox="0 0 48 48" width="25">
                            <path d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"></path>
                            <path d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"></path>
                          </svg>
                        </div>
                      </button>

                      <input type="hidden" id="id-follow" name="id_follow" value="">
                     <input type="hidden" id="_id" name="_id" value="">
                     <input type="text" name="message" class="send-input" placeholder="Message..." onfocus="this.value=''"/>
                    
                      <a href="#" >
                          <button type="submit" >
                          <svg aria-label="Direct" class="_8-yf5 "  height="30" viewBox="0 0 48 48" width="30">
                              <path
                              id="#" d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                              </path>
                          </svg>
                        </button>
                      </a>
                    </form>
              </div>
       
              </div>
            
          
            </div>
        
        </main>

<script>

  function directPerson(self,id,id_follow,image,name){
      $("img.pic").attr("src",image)
      $("#name-selected").text(name)
      $("#_id").val(id)
      $("#id-follow").val(id_follow)
      getMessage(id_follow)
      }
  function getMessage(id){
    $.ajax({
            method: "POST",
            url: "/getInbox",
            data: {
                _id: id   // id following
            },
            cache: false,
            success: function (responseText) {
                if (responseText.status == "success") {    
                    var html =""
                    user = responseText.user[0]
                    for(var i= 0;i < user.followings.length;i++){
                      var follow = user.followings[i]
                      if(follow.idFollowing.toString() == id.toString()){
                        console.log(follow.inbox.length)
                          for(var j = 0; j < follow.inbox.length ; j++){
                              var inbox = follow.inbox[j]
                              if(inbox.from.toString() ==  responseText.id.toString()){
                                html += '<div class="receiver">'
                                  html += inbox.message
                                html += '</div>'
                              }else{
                                html += '<div class="sender">'
                                  html += inbox.message
                                html += '</div>'
                                html += '<div class="heart">❤️'
                                html += '</div>'
                              }
                          }
                      }
                    }
                    
                    $(".frame-chat").html(html)
                }
            }
        })
  
  }
 
  function sendMessageFriends(form){
      var ajax = new XMLHttpRequest();
      ajax.open("POST", "/sendMessageFriends", true);

      ajax.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
              var response = JSON.parse(this.responseText);
              if (response.status == "success") {
                  var html = ""
                  document.getElementById("post-message").querySelector("input[name='message']").value = "";
                  getMessage(response.id)
                  form.reset();
              }
              else {
                  alert(response.error)
              }

          }

      };

      var formData = new FormData(form);
      ajax.send(formData);

      return false;
  }

</script>

<%- include ("../shares/footer") %>