<%- include ("../shares/header") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- List user not follow -->


        <main>
          <div class="preview">
              <div data-name="123" id="user-name">
                <%if(name){%>
                    <%=name%>
                <%}else{%>
                    <%=fullname%>
                <%}%>
                <!-- <i class='fas fa-angle-down'></i> -->
              </div>
         
              <%if(following.length > 0){%>
                  <% following.forEach(function(following) {%>
                    <div class="user-following " id="user-following-<%=following._id%>">
                      <span class="pic-div">
                        <img id="pic" src="<%=following.profileImage%>">
                      </span>
                      <div class="chat-username">
                        <a href="#" class="name" onclick="directPerson(this, '<%=following._id%>','<%=following.idFollowing%>' ,'<%=following.profileImage%>','<%=following.fullname%>','<%=fullname%>')"> 
                          <span >
                            <%=following.fullname%>
                          </span>
                        </a>
                        <span class="msg">Following</span>
                      </div>
                  </div>
                  <%})%>
              <%}%>
        
        
          </div>

            <div class="chats">
              
                <div class="sticky-top chat-banner">
                    <div>
                      <span class="chat-pic"> 
                        <img class="pic" id="pic" src="<%=image%>"  style="margin-bottom: 0.5rem;" />
                      </span>
                      <a href="#"  style="margin-left:5px;cursor: pointer; text-decoration: none; color: #333;">
                        <span id="name-selected">
                          <%if(name){%>
                            <%=name%>
                          <%}else{%>
                              <%=fullname%>
                          <%}%>
                          </span>
                        </a>
                    </div>
                </div>
                <div class="frame-chat">
                  
                  <div class="image-message">
                      <svg id="Capa_1" enable-background="new 0 0 512.004 512.004" height="100" viewBox="0 0 512.004 512.004" width="100" xmlns="http://www.w3.org/2000/svg"><g><path d="m511.35 52.881-122 400c-3.044 9.919-14.974 13.828-23.29 7.67-7.717-5.727-203.749-151.217-214.37-159.1l-142.1-54.96c-5.79-2.24-9.6-7.81-9.59-14.02.01-6.21 3.85-11.77 9.65-13.98l482-184c5.824-2.232 12.488-.626 16.67 4.17 3.37 3.87 4.55 9.24 3.03 14.22z" fill="#94dfda"/><path d="m511.35 52.881-122 400c-3.044 9.919-14.974 13.828-23.29 7.67l-190.05-141.05 332.31-280.84c3.37 3.87 4.55 9.24 3.03 14.22z" fill="#61a7c5"/><path d="m507.89 58.821-271.49 286.4-63 125.03c-3.16 6.246-10.188 9.453-16.87 7.84-6.76-1.6-11.53-7.64-11.53-14.59v-175.3c0-4.86 2.35-9.41 6.31-12.23l337-239.69c6.29-4.48 14.95-3.45 20.01 2.38 5.07 5.83 4.88 14.56-.43 20.16z" fill="#eef4ff"/><path d="m507.89 58.821-271.49 286.4-63 125.03c-3.16 6.246-10.188 9.453-16.87 7.84-6.76-1.6-11.53-7.64-11.53-14.59l31.01-144 332.31-280.84c5.07 5.83 4.88 14.56-.43 20.16z" fill="#d9e6fc"/></g></svg>
                      <p>Your message</p>
                  </div>

                  <div class="cover-receiver">
                    <div class="gallery-section">
                      <div class="inner-width">
                        <div class="edit-img-msg" style="border: 1px solid red;">
                          <!-- <i class="fas fa-ellipsis-h edit-img"></i> -->
                          <div class="gallery stack-img" >
                              <a href="img/1.png" class="image img-one">
                                <img src="img/1.png" alt="">
                              </a>
                              <!-- <a href="img/2.png" class="image img-a">
                                <img src="img/2.png" alt="">
                              </a>
                              <a href="img/2.png" class="image img-a">
                                <img src="img/2.png" alt="">
                              </a>
                              <a href="img/2.png" class="image img-a">
                                <img src="img/2.png" alt="">
                              </a>
                              <a href="img/2.png" class="image img-a">
                                <img src="img/2.png" alt="">
                              </a> -->
                          </div>
                        </div>
                        <div class="edit-vid-msg" style="border: 1px solid yellow; flex-wrap: wrap-reverse;">
                          <div class="gallery stack-img stack-vid" >
                            <video controls>
                              <source src="video/a.mp4" type="video/mp4" >
                            </video>
                            <i class="fas fa-ellipsis-h edit-video">
                            </i> 
                             
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="receiver">
                          hehehehe
                    </div>
                  </div>
                 
                 
                  <!-- <div class="cover-sender">
                    <div class="sender">
                        hehehehe
                    </div>
                
                    <div class="gallery-section">
                      <div class="inner-width">
                        <div class="gallery stack-img-send stack-vid">
                          <iframe src="video/a.mp4"  frameborder="0" sandbox></iframe>
                        </div>
                        <div class="gallery stack-img-send">
                         
                          <a href="img/1.png" class="image img-a">
                            <img src="img/1.png" alt="">
                          </a>
                
                         <a href="img/2.png" class="image img-a">
                            <img src="img/2.png" alt="">
                          </a>
                
                          <a href="img/3.png" class="image img-a">
                            <img src="img/3.png" alt="">
                          </a>
                
                          <a href="img/4.png" class="image img-a">
                            <img src="img/4.png" alt="">
                          </a>
                
                          <a href="img/5.png" class="image img-a">
                            <img src="img/5.png" alt="">
                          </a>
                        </div>
                      
                      </div>
                    </div>
                  </div> -->

                
                </div>
            
            
            
              <div class="user-input " ></div>
         
              <div class="inputFlex ">
               
                <div class="input-msg">
                  <div class="gallery-section">
                    <div class="inner-width">
                      <!-- <div class="gallery pre-img">

                          <a href="img/1.png" class="image ">
                            <img src="img/1.png" alt="">
                          </a>
                
                          <a href="img/2.png" class="image ">
                            <img src="img/2.png" alt="">
                          </a>
                
                          <a href="img/3.png" class="image ">
                            <img src="img/3.png" alt="">
                          </a>
                
                          <a href="img/4.png" class="image ">
                            <img src="img/4.png" alt="">
                          </a>
                
                          <a href="img/5.png" class="image ">
                            <img src="img/5.png" alt="">
                          </a>
                      </div>
                      <div class="gallery pre-vid">
                        <iframe src="video/a.mp4" frameborder="0" sandbox></iframe>
                      </div> -->
                    </div>
                  </div>


                  <form id="post-message" onsubmit="return sendMessageFriends(this)">
                    
                      <button class="btnSmile" type="button" >
                        <div class="btnCover" >
                          <svg aria-label="Emoji" class="faSmile" fill="#262626" height="25" viewBox="0 0 48 48" width="25">
                            <path d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"></path>
                            <path d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"></path>
                          </svg>
                        </div>
                      </button>

                      <input type="hidden" id="id-follow" name="id_follow" value="">
                     <input type="hidden" id="_id" name="_id" value="">
                    
                     <input type="text" name="message" class="send-input" id="msg-enter" placeholder="Message..." autocomplete="off" onfocus="this.value=''"/>

                    
                     
                      <a href="#" style=" cursor: pointer; display: flex;">
                          <button type="submit">
                          </button>
                            <label class="fileContainer" style=" cursor: pointer;">
                              <svg id="_x31_" enable-background="new 0 0 24 24" height="24"
                                  viewBox="0 0 24 24" width="24">
                                  <g>
                                      <path
                                          d="m17.453 24c-.168 0-.34-.021-.51-.066l-15.463-4.141c-1.06-.292-1.692-1.39-1.414-2.45l1.951-7.272c.072-.267.346-.422.612-.354.267.071.425.346.354.612l-1.95 7.27c-.139.53.179 1.082.71 1.229l15.457 4.139c.531.14 1.079-.176 1.217-.704l.781-2.894c.072-.267.346-.426.613-.353.267.072.424.347.353.613l-.78 2.89c-.235.89-1.045 1.481-1.931 1.481z" />
                                  </g>
                                  <g>
                                      <path
                                          d="m22 18h-16c-1.103 0-2-.897-2-2v-12c0-1.103.897-2 2-2h16c1.103 0 2 .897 2 2v12c0 1.103-.897 2-2 2zm-16-15c-.551 0-1 .449-1 1v12c0 .551.449 1 1 1h16c.551 0 1-.449 1-1v-12c0-.551-.449-1-1-1z" />
                                  </g>
                                  <g>
                                      <path
                                          d="m9 9c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-3c-.551 0-1 .449-1 1s.449 1 1 1 1-.449 1-1-.449-1-1-1z" />
                                  </g>
                                  <g>
                                      <path
                                          d="m4.57 16.93c-.128 0-.256-.049-.354-.146-.195-.195-.195-.512 0-.707l4.723-4.723c.566-.566 1.555-.566 2.121 0l1.406 1.406 3.892-4.67c.283-.339.699-.536 1.142-.54h.011c.438 0 .853.19 1.139.523l5.23 6.102c.18.209.156.525-.054.705-.209.18-.524.157-.705-.054l-5.23-6.102c-.097-.112-.231-.174-.38-.174-.104-.009-.287.063-.384.18l-4.243 5.091c-.09.108-.221.173-.362.179-.142.01-.277-.046-.376-.146l-1.793-1.793c-.189-.188-.518-.188-.707 0l-4.723 4.723c-.097.097-.225.146-.353.146z" />
                                  </g>
                              </svg>
                              <input type="file" name="image" accept="image/*" class="upload-photo" id="file"
                                  multiple onchange="previewPostImage()">
                          </label>
                          
                          <label class="fileVideo" style="margin-left: 0.5rem;cursor: pointer;">
                            <svg height="24" viewBox="0 -87 472 472" width="24">
                                <path
                                    d="m467.101562 26.527344c-3.039062-1.800782-6.796874-1.871094-9.898437-.179688l-108.296875 59.132813v-35.480469c-.03125-27.601562-22.398438-49.96875-50-50h-248.90625c-27.601562.03125-49.96875 22.398438-50 50v197.421875c.03125 27.601563 22.398438 49.96875 50 50h248.90625c27.601562-.03125 49.96875-22.398437 50-50v-34.835937l108.300781 59.132812c3.097657 1.691406 6.859375 1.625 9.894531-.175781 3.039063-1.804688 4.898438-5.074219 4.898438-8.601563v-227.816406c0-3.53125-1.863281-6.796875-4.898438-8.597656zm-138.203124 220.898437c-.015626 16.5625-13.4375 29.980469-30 30h-248.898438c-16.5625-.019531-29.980469-13.4375-30-30v-197.425781c.019531-16.558594 13.4375-29.980469 30-30h248.90625c16.558594.019531 29.980469 13.441406 30 30zm123.101562-1.335937-103.09375-56.289063v-81.535156l103.09375-56.285156zm0 0" />
                            </svg>
                            <input type="file" name="video" accept="video/*" class="upload-photo"
                                id="fileVideo" multiple onchange="previewPostVideo()">
                        </label>
                          <!-- <svg aria-label="Direct" class="_8-yf5 "  height="30" viewBox="0 0 48 48" width="30">
                              <path
                              id="#" d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z">
                              </path>
                          </svg> -->
                       
                      </a>
                    </form>
              </div>
       
              </div>
            
          
            </div>
        
        </main>

<script src="/socket.io/socket.io.js"></script>
<script>
  
  var socket= io();
  var sender = ''
  $(".inputFlex").css('display','none')
  

 
    $(".cover-sender").magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery:{
        enabled: true
      }
    });

  function directPerson(self,id,id_follow,image,name,name_current){
      $("img.pic").attr("src",image)
      $("#name-selected").text(name)
      $("#_id").val(id)
      $("#id-follow").val(id_follow)
      $(".inputFlex").css('display','block')
      $(".framechat").css('display','none')

      socket.emit("message",{username:name_current})
      getMessage(id_follow);
  }

  function getMessage(id){
    $.ajax({
            method: "POST",
            url: "/getInbox",
            data: {
                _id: id   // id following
            },
            cache: false,
            success: function (responseText) {
                if (responseText.status == "success") {  
                    var html =""
                    user = responseText.user[0]
                    for(var i= 0;i < user.followings.length;i++){
                      var follow = user.followings[i]
                      if(follow.idFollowing.toString() == id.toString()){
                          for(var j = 0; j < follow.inbox.length ; j++){
                              var inbox = follow.inbox[j]
                              if(inbox.from.toString() ==  responseText.id.toString()){
                                sender =  responseText.id.toString()
                                html += '<div class="cover-receiver">'
                                  html += '<div class="receiver">'
                                    html += inbox.message
                                  html += '</div>'
                                html += '</div>'
                              }else{
                                html += '<div class="cover-sender">'
                                  html += '<div class="sender">'
                                    html += inbox.message
                                  html += '</div>'
                                html += '</div>'
                                // html += '<div class="heart">❤️'
                                // html += '</div>'
                              }
                          }
                      }
                    }
                    var chat = document.getElementsByClassName("frame-chat")[0]
                    chat.innerHTML=html
                    chat.scrollTop=chat.scrollHeight;
                }
            }
        })
  
  }
    
  socket.on("messageReceived",(msg)=>{
    var html = ""
      if(msg.from){
        html += '<div class="cover-receiver">'
          html += '<div class="receiver">'
            html += msg.message
          html += '</div>'
        html += '</div>'
      }
      if(msg.to){
        html += '<div class="cover-sender">'
            html += '<div class="sender">'
              html += msg.message
            html += '</div>'
        html += '</div>'
      }
      var chat = $(".frame-chat")
      chat.append(html)
      var c = document.getElementsByClassName("frame-chat")[0]
      c.scrollTop=c.scrollHeight;
  })


  function sendMessageFriends(form){
      var ajax = new XMLHttpRequest();
      ajax.open("POST", "/sendMessageFriends", true);

      ajax.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
              var response = JSON.parse(this.responseText);
              if (response.status == "success") {
                  document.getElementById("post-message").querySelector("input[name='message']").value = "";
                  // getMessage(response.id)
            
                  // connectSocket()
                  form.reset();
              }
              else {
                  alert(response.error)
              }

          }

      };

      var formData = new FormData(form);
      ajax.send(formData);

      return false;
  }

</script>

<%- include ("../shares/footer") %>